{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended" 
    ],
     "rules": { 
         "@typescript-eslint/interface-name-prefix":"off",
         "@typescript-eslint/consistent-type-assertions":"off",
         "@typescript-eslint/no-explicit-any":"off",
         "no-prototype-builtins":"off",
         "@typescript-eslint/no-use-before-define":"off",
         "no-mixed-spaces-and-tabs":"off",
         "no-inner-declarations":"off",
         "@typescript-eslint/camelcase":"off",
         "@typescript-eslint/explicit-function-return-type":"off"
     }
  }